/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/

/* Buttons */

button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
	background-color: rgba(248, 246, 246, 0);
	border: 1px solid #000;
	border-radius: 0;
	color: #000;
	cursor: poiter;
	font-family: Novecento, sans-serif;
	font-size: .9rem;
	line-height: 1;
	padding: .75rem 1.5rem;
	text-decoration: none;
	text-transform: uppercase;

	&:hover {
   background-color: #248a83;
	 color: #fff;
 	}

	&:active,
	&:focus {
	 background-color: #248a83;
	 color: #fff;
	}
}

/* Fields */

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
textarea {
	color: #404040;
	border: 1px solid #e1e1e1;
	border-radius: 3px;

	&:focus {
		color: #111;
	}
}

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"] {
	padding: 3px;
}

textarea {
	padding-left: 3px;
	width: 100%;
}
