.front-area{
  padding-top: 0;
  margin-right: auto;
  margin-left: auto;
}

.home-hero{
  align-items: center;
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),
              url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  width: 100%;
  margin-bottom: 2rem;
}

.home-hero img{
  height: 280px;
  width: 280px;
}

//Shop Stuff
.shop-stuff{
  margin-bottom: 4rem;
}

.product-type-blocks{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product-type-wrapper{
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  flex: 0 1 23.5%;
  max-width: 23.5%;
  padding: 0.75rem;
  text-align: center;

  &:hover{
    border-color: #d99054;
  }

  .logo{
    height: 70px;
    width: 70px;
  }
}

#green-button{
  color: #fff;
}


//Inhabitent Journals
.inhabitent-journals{
  margin-bottom: 4.5rem;
}

.inhabitent-journals ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.inhabitent-journals ul li{
  border: 1px solid #e1e1e1;
  flex: 0 1 32%;
  h2{
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: normal;
  }
}

.thumbnail-wrapper{
  background-color: #e1e1e1;
  height: 250px;
  overflow: hidden;
  position: relative;

  img{
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-52%);
    width: auto;
    height: auto;
  }
}

.post-info-wrapper{
  padding: 0.75rem;
}

.journal-meta{
  font-size: 0.75rem;
}

.journal-title{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}
