/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*///////////// Shop Page (Archive-Product) ///////////// */
.archive-product-area{
  padding-top: 4.5rem;
}

.shop-nav-container{
  display: flex;
  justify-content: center;
  font-family: Novecento;
  font-size: 1.5rem;

  a{
    margin: 0 1rem;
  }
}

.page-header{
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;

}

.page-header-title{

  padding-top: 4.5rem;
}

.product-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.product-grid-item{
  border: 1px solid #e1e1e1;
  flex: 0 1 23%;
  max-width: 23%;
  margin-bottom: 1.5rem;
}

.product-info{
  padding: .75rem 1rem;
}

.product-title{
  background: #fff;
  padding-right: .25rem;
  display: inline;
  font-size: .9rem;
}

.product-title:before{
  float: left;
  width:0px;
  white-space: nowrap;
  content: "...............................................";
}

.price{
  float: right;
  padding-left: .25rem;
  background: #fff;
}


/*///////////// Single Product Page ///////////// */
.single-product-area{
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.single-product-main{
  margin-top: 3rem;
}

.single-product .hentry{
  display: flex;
  justify-content: space-between;
}

.product-image-wrapper{
  width: 48%;
}

.product-content-wrapper{
  width: 48%;
}

.single-product-title{
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1;
  text-align: left;
  font-weight: 800;
  color: #d99054;
}

.single-price{
  font-family: Novecento, sans-serif;
  font-size: 1.7rem;
  margin-top: 0;
  text-transform: uppercase;
}


/*///////////// Journal Page and Find Us Page ///////////// */
.entry-title{
  text-align: left;
}

.google-map{
  margin-bottom: 2rem;
}
.content-area{
  width: 1120px;
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.site-main{
  border-right: 1px solid #e1e1e1;
  padding-right: 3rem;
  width: 73%;
  padding-top: 3rem;
  padding-bottom: 3rem;
}

.widget-area{
  width: 27%;
  padding-left: 3rem;
}

.required{
  color: #d99054;
}

//Journal page
.entry-header{
  position: relative;

  h2{
    background-color: #248a83;
    color: #fff;
    max-width: 75%;
    padding: .75rem 1.5rem;
    position: absolute;
    top: 0;
    line-height: 1.2;
  }

  a{
    color: #fff;
  }

  a:hover{
    color: #f0e4d1;
  }

  .entry-meta{
    background-color: #248a83;
    color: #fff;
    font-size: 1rem;
    font-family: Novecento;
    padding: .3rem 1rem;
    max-width: 55%;
    position: absolute;
    right: 0;
    bottom: .5rem;
  }
}

/*///////////// Single Blog Posts (single journal) ///////////// */





/*///////////// About Page ///////////// */
.about-content{
  margin: 3rem auto;
  max-width: 800px;

  h1{
    font-size: 2rem;
  }

}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;

  h1{
    font-size: 3rem;
  }
}

.our-story{
  margin-bottom: 2rem;
}
