/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*///////////// Header ///////////// */
.site-header{
  background-color: hsla(0,0%,100%,.85);
  border-bottom: 1px solid #e1e1e1;
  padding: .5rem 0;
  position: fixed;
  transition: top .5s linear;
  width: 100%;
  z-index: 10;
}

.site-header .container{
  display: flex;
  align-items: center;
  justify-content: space-between;
  text-transform: uppercase;
}

.site-header h1{
  background: url(../../images/logos/inhabitent-logo-tent.svg) no-repeat;
  background-size: 50px 30px;
  height: 30px;
  margin: 0;
  overflow: hidden;
  text-indent: 100%;
  width: 50px;
}


/*///////////// Front Page ///////////// */
.site-content{
  padding-top: 50px;
  margin-right: auto;
  margin-left: auto;
}

.home-hero{
  align-items: center;
  background: linear-gradient(180deg,rgba(0,0,0,.4) 0,rgba(0,0,0,.4)),
              url(../../images/home-hero.jpg) no-repeat top;
  background-size: cover,cover;
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  margin-bottom: 4rem;
}

.home-hero img{
  height: 280px;
  width: 280px;
}

//Shop Stuff
.shop-stuff{
  margin-bottom: 4.5rem;
}

.product-type-blocks{
  display: flex;
  justify-content: space-between;
  text-align: center;
}

.product-type-wrapper{
  border: 1px solid #e1e1e1;
  border-top-width: 5px;
  flex: 0 1 23.5%;
  max-width: 23.5%;
  padding: 0.75rem;
  text-align: center;

  &:hover{
    border-color: #d99054;
  }

  .logo{
    height: 70px;
    width: 70px;
  }
}


//Inhabitent Journals
.inhabitent-journals{
  margin-bottom: 4.5rem;
}

.inhabitent-journals ul{
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding-left: 0;
}

.inhabitent-journals ul li{
  border: 1px solid #e1e1e1;
  flex: 0 1 32%;
  h2{
    font-size: 1.3rem;
    letter-spacing: 2px;
    line-height: normal;
  }
}

.thumbnail-wrapper{
  background-color: #e1e1e1;
  height: 250px;
  overflow: hidden;
  position: relative;

  img{
    left: 50%;
    max-height: 250px;
    max-width: none;
    position: absolute;
    top: 50%;
    transform: translate(-50%,-52%);
    width: auto;
    height: auto;
  }
}

.post-info-wrapper{
  padding: 0.75rem;
}

.entry-meta{
  font-size: 0.75rem;
}

.entry-title{
  font-size: 1.5rem;
  margin-top: 0;
  margin-bottom: 1.5rem;
}


/*///////////// Shop Page ///////////// */
.shop-nav-container{
  display: flex;
  justify-content: center;
  font-family: Novecento;
  font-size: 1.5rem;

  a{
    margin: 0 10px;
  }
}

.shop-header{
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 40px;
  margin-bottom: 40px;
}

.product-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.product-grid-item{
  border: 1px solid #e1e1e1;
  flex: 0 1 23%;
  max-width: 23%;
  margin-bottom: 1.5rem;
}

.product-info{
  font-size: .9rem;
  padding: .75rem 1rem;
}

.entry-title{
  background: #fff;
  display: inline;
  font-size: 1rem;
  padding-right: .25rem;
  text-transform: none;
}

.entry-title:before{
  float: left;
  width: 0;
  white-space: nowrap;
  content: ".............";
}

.price{
  float: right;
  padding-left: .25rem;
  background: #fff;
}







/*///////////// Blog Posts ///////////// */


/*///////////// About Page ///////////// */

.about-content{
  margin: 3rem auto;
  max-width: 800px;
}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;
}


/*///////////// Footer ///////////// */
.site-footer{
  background-image: url(../../images/dark-wood.png);
  font-family: Novecento Sans Web, sans-serif;
  font-weight: lighter;
  color: #ffffff;
}

.footer-blocks {
  display: flex;
}

.footer-block-item{
  margin: 3rem 0;
  padding-right: 1.5rem;
  width: 25%;
}

.footer-block-item:last-child{
  margin: 3rem 0;
  padding-right: 1.5rem;
  width: 50%;
}

.footer-blocks h3{
  color: #d99054;
  font-size: 1.2rem;
  margin-bottom: 1rem;
  text-transform: uppercase;
}

.contact a{

  color: #ffffff;
  text-decoration: none;

  &:visited {
    color: #ffffff;
  }
  &:hover,
  &:focus,
  &:active {
    color: #ffffff;
    text-decoration: underline;
  }
}

.site-info{
  padding: 1.5rem 0;
  text-align: center;
  text-transform: uppercase;
}

.text-logo{
  margin-top: 1rem;
  text-align: right;
}

.text-logo img{
  max-width: 50%;
}
