/*--------------------------------------------------------------
# Page Templates
--------------------------------------------------------------*/

/*///////////// Shop Page (Archive-Product) ///////////// */
.archive-product-area{
  padding-top: 4.5rem;
}

.shop-nav-container{
  display: flex;
  justify-content: center;
  font-family: Novecento;
  font-size: 1.5rem;

  a{
    margin: 0 1rem;
  }
}

.page-header{
  border-bottom: 1px dashed #e1e1e1;
  padding-bottom: 40px;
  margin-bottom: 40px;
  text-align: center;

}

.page-header-title{

  padding-top: 4.5rem;
}

.product-grid{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
}

.product-grid-item{
  border: 1px solid #e1e1e1;
  flex: 0 1 23%;
  max-width: 23%;
  margin-bottom: 1.5rem;
}

.product-info{
  padding: .75rem 1rem;
}

.product-title{
  background: #fff;
  padding-right: .25rem;
  display: inline;
  font-size: .9rem;
}

.product-title:before{
  float: left;
  width:0px;
  white-space: nowrap;
  content: "...............................................";
}

.price{
  float: right;
  padding-left: .25rem;
  background: #fff;
}


/*///////////// Single Product Page ///////////// */
.single-product-area{
  width: 1120px;
  margin-left: auto;
  margin-right: auto;
  padding-top: 3rem;
}

.single-product-main{
  margin-top: 3rem;
}

.single-product .hentry{
  display: flex;
  justify-content: space-between;
}

.product-image-wrapper{
  width: 48%;
}

.product-content-wrapper{
  width: 48%;
}

.single-product-title{
  margin-bottom: 1rem;
  margin-top: 0;
  line-height: 1;
  text-align: left;
  font-weight: 800;
  color: #d99054;
}

.single-price{
  font-family: Novecento, sans-serif;
  font-size: 1.7rem;
  margin-top: 0;
  text-transform: uppercase;
}


/*///////////// Journal Page ///////////// */





/*///////////// Single Blog Posts (single journal) ///////////// */





/*///////////// About Page ///////////// */
.about-content{
  margin: 3rem auto;
  max-width: 800px;

  h1{
    font-size: 2rem;
  }
}

.about-header{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  color: #fff;
  font-weight: bold;

  h1{
    font-size: 3rem;
  }
}

.our-story{
  margin-bottom: 2rem;
}
