
.header-search{
  padding-left: 1.5rem;
}

.search-form{

  fieldset{
    margin: 0;
    padding: 0;
    border: none;
  }
}

.search-field{
  display:none;
  outline-line: none;
  height: 20px;
  width: auto;
}

.search-submit{
  color: #248a83;
  display: inline-block;
  cursor: pointer;
}

.header-search{
  display: inline-block;
}

.menu-main-navigation-container{
  display: inline-block;
}
