/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/

.widget-area{
	padding-left: 5%;
	padding-top: 3rem;
	padding-bottom: 3rem;
	width: 27%;

	.widget-text{
		margin: 0 0 3rem;
	}

.day-of-week{
	font-weight: bold;
}
	/* Make sure select elements fit in widgets. */
	select {
		max-width: 100%;
	}
}

/* Search widget. */
.widget_search .search-submit {
	display: none;
}
